body {
    background: #252525;
    color:#ccc;
}

main{
    width: 40vw;
    margin: 0 auto;
    overflow-x: hidden;
}

ul{
    list-style: none;
    margin: 0;
    padding:0;
    text-align: center;
}

li{
    list-style: none;
    margin: 0;
    padding:0;
}

/* Слайдер, картинка */
.slider{
    margin: 4vh auto 0;
}

.slider img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

/* Подпись и переключение картинок*/

.slider-controls {
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slider-dots, .slider-text {
    margin-top: 3vh;
}

.slider-text {
    font-size: 1.3em;
    padding-top:0.3rem;
}

/* точки переключатели */
.slider-dots li
{
    cursor: pointer;
    margin: 0 0.1rem;
    padding:0.3rem 0.2rem 0.2rem;
    display: inline-block;
}

.slider-dots span
{
    height: 0.9rem;
    width: 0.9rem;   
    background-color: #7da6d8;
    border: 0.1rem solid #7da6d8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dots span:hover{
    background-color: #eee;
    border-color: #eee;
}

.slider-dots li.active span:hover {
    background-color: transparent;
    border-color: #eee;
}

.slider-dots span:active{
    background-color: #777;
    border-color: #777;
}

.slider-dots li.active span:active {
    background-color: transparent;
    border-color: #777;
}

.slider-dots li.active span{
    background-color: transparent;
    border: 0.1rem solid #7da6d8;
}

/* мобильная версия */

@media screen and (max-width: 768px) {
    .slider-controls{
        display: block;
    }

    main{
        width: 90vw;
    }

  }