body {
    background: #252525;
    color:#ccc;
}

main{
    width: 40vw;
    margin: 0 auto;
}

ul{
    list-style: none;
    margin: 0px;
    padding:0px;
    text-align: center;
}

li{
    list-style: none;
    margin: 0px;
    padding:0px;
}

/* Слайдер, картинка */
.slider{
    margin: 4vh auto 0;
}

.slider img {
    object-fit: contain;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Подпись и переключение картинок*/

.slider-controls {
    margin:0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.slider-dots, .slider-text {
    margin-top: 3vh;
}

.slider-text {
    font-size: 1.4em;
    padding-top:5px;
}

/* точки переключатели */
.slider-dots li
{
    cursor: pointer;
    margin: 0 1px;
    padding:8px 5px 5px;
    display: inline-block;
}

.slider-dots span
{
    height: 16px;
    width: 16px;   
    background-color: #7da6d8;
    border: 2px solid #7da6d8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slider-dots span:hover{
    background-color: #ccc;
    border-color: #ccc;
}

.slider-dots li.active span:hover {
    background-color: transparent;
    border-color: #ccc;
}

.slider-dots li.active span{
    background-color: transparent;
    border: 2px solid #7da6d8;
}

/* мобильная версия */

@media screen and (max-width: 768px) {
    .slider-controls{
        display: block;
    }

    main{
        width: 90vw;
    }

  }