body {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background: #252525;
    color:#ccc;
    margin-top: 5vh;
}

input {
    display: none;
}

/* Слайдер */
main {
    display: grid;
    grid-template-columns: repeat(4, 10vw);
    grid-template-rows: auto;
    row-gap: 2rem;
    justify-content: center;
    overflow: hidden;
}

.img-container img {
    width: 40vw;
    border-radius: 0.5rem;
}

.slider-mem {
    grid-column-start: 1;
    grid-column-end: 5;
    overflow: hidden;
}

.img-container {
    display: grid;
    grid-template-columns: repeat(4, 50vw);
    margin-left: 0;
    transition: all 1s;
}

/*Двигаем слайды*/
#radio-1:checked ~ .slider-mem >.img-container {  margin-left: 0;      }
#radio-2:checked ~ .slider-mem >.img-container {  margin-left: -50vw;  }
#radio-3:checked ~ .slider-mem >.img-container {  margin-left: -100vw; }
#radio-4:checked ~ .slider-mem >.img-container {  margin-left: -150vw; }

/* Текст */
.slider-text {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 25vw;
    overflow: hidden;
}

.text-container {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    transition: all 1s;
}

.text-container p {
    margin: 0;
    font-size: 1.7rem;
    
}

/* Двигаем текст */
#radio-1:checked ~ .slider-text >.text-container {  margin-left:  0;    }
#radio-2:checked ~ .slider-text >.text-container {  margin-left: -25vw; }
#radio-3:checked ~ .slider-text >.text-container {  margin-left: -50vw; }
#radio-4:checked ~ .slider-text >.text-container {  margin-left: -75vw; }

/* Навигация */
.slider-dots {
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.fake-button{
    height: 0.9rem;
    width: 0.9rem;   
    background-color: #7da6d8;
    border: 0.16rem solid #7da6d8;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

#radio-1:hover ~ .slider-dots > .radio-label:nth-child(1) > .fake-button,
#radio-2:hover ~ .slider-dots >.radio-label:nth-child(2) >.fake-button,
#radio-3:hover ~ .slider-dots >.radio-label:nth-child(3) >.fake-button,
#radio-4:hover ~ .slider-dots >.radio-label:nth-child(4) >.fake-button {
    border-color: #eee;
    background-color: #eee;
}

#radio-1:active ~ .slider-dots >.radio-label:nth-child(1) > .fake-button,
#radio-2:active ~ .slider-dots > .radio-label:nth-child(2) > .fake-button,
#radio-3:active ~ .slider-dots > .radio-label:nth-child(3) > .fake-button,
#radio-4:active ~ .slider-dots > .radio-label:nth-child(4) > .fake-button {
    transform: translate(10%, 10%);
}

#radio-1:checked ~ .slider-dots > .radio-label:nth-child(1) > .fake-button,
#radio-2:checked ~ .slider-dots > .radio-label:nth-child(2) > .fake-button,
#radio-3:checked ~ .slider-dots > .radio-label:nth-child(3) > .fake-button,
#radio-4:checked ~ .slider-dots > .radio-label:nth-child(4) > .fake-button {
    background-color: transparent;
    border-color: #7da6d8;
}

#radio-1:checked:hover ~ .slider-dots > .radio-label:nth-child(1) > .fake-button,
#radio-2:checked:hover ~ .slider-dots > .radio-label:nth-child(2) > .fake-button,
#radio-3:checked:hover ~ .slider-dots > .radio-label:nth-child(3) > .fake-button,
#radio-4:checked:hover ~ .slider-dots > .radio-label:nth-child(4) > .fake-button {
    background-color: transparent;
    border-color: #eee;
}

/* Мобильная версия */
@media screen and (max-width: 768px) {

    main {
        grid-template-columns: repeat(4, 20vw);
        grid-template-rows: auto;
    }

    .img-container img {
        width: 80vw;
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(4, 80vw);
        margin-left: 0;
        transition: all 1s;
    }

    /*Двигаем слайды - мобильная версия */
    #radio-1:checked ~ .slider-mem >.img-container {  margin-left: 0;      }
    #radio-2:checked ~ .slider-mem >.img-container {  margin-left: -80vw;  }
    #radio-3:checked ~ .slider-mem >.img-container {  margin-left: -160vw; }
    #radio-4:checked ~ .slider-mem >.img-container {  margin-left: -240vw; }

    
    .slider-dots {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    .slider-text {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        width: 80vw;
        overflow: hidden;
    }

    .text-container {
        display: grid;
        grid-template-columns: repeat(4, 80vw);
        transition: all 1s;
    }

    .text-container p {
        margin: 0;
        font-size: 1.3rem;
    }

    /* Двигаем текст  - мобильная версия */
    #radio-1:checked ~ .slider-text >.text-container {  margin-left: 0;      }
    #radio-2:checked ~ .slider-text >.text-container {  margin-left: -80vw;  }
    #radio-3:checked ~ .slider-text >.text-container {  margin-left: -160vw; }
    #radio-4:checked ~ .slider-text >.text-container {  margin-left: -240vw; }
}